# Ignore all files in data/ and results/
data/*
results/*
lora_output/*
textual_inversion_output/*

# But keep the directory itself via .gitkeep
!data/.gitkeep
!results/.gitkeep
!lora_output/.gitkeep
!textual_inversion_output/.gitkeep



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch and other model checkpoints
*.ckpt
*.pth
*.pt

# TensorBoard logs
runs/
logs/
events.out.tfevents.*

# Dataset and outputs
datasets/
output/

checkpoints/
models/

# Image and video outputs
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi

# Large temporary files
*.zip
*.tar
*.tar.gz

# System files
.DS_Store
Thumbs.db

# VSCode / PyCharm settings
.vscode/
.idea/

# Others
*.log
*.bak
